body {
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 13px;
    min-width: 723px;
}
ul.menu {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-bottom: 1px;
}
ul.menu li {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
}
ul.menu li.separate {
    height: 24px;
    width: 3px;
    border-left: 1px solid #939393;
    margin-top: 3px;
    margin-left: 3px;
}
ul.menu li.graph {
    width: auto;
}
ul.menu li.select {
    width: auto;
    float: right;
    margin-top: -1px;
    margin-right: 2px;
}
ul.menu li.select > a {
    margin-top: 3px;
    width: 110px !important;
    float: right;
    height: 24px !important;
}
ul.menu a.btn{
    width: 28px;
    height: 28px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    border: 1px solid #fff;
}

ul.menu a.btn:active {
    opacity: 0.7;
}
ul.menu a.refresh{
    background-image: url("/images/refresh.png");
}
ul.menu a.donate{
    background-image: url("/images/donate.png");
}
ul.menu a.wui{
    background-image: url("/images/wui.png");
}
ul.menu a.start_all{
    background-image: url("/images/play_all.png");
}
ul.menu a.pause_all{
    background-image: url("/images/pause_all.png");
}
ul.menu a.btn:hover {
    border: 1px solid #a9acb1;
}
.torrent-list-layer td {
    white-space: nowrap;
}
.torrent-list-layer .name {
    text-align: left;
}
.torrent-list-layer td.name div {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.torrent-list-layer .size {
    text-align: right;
}
.torrent-list-layer td.progress {
    text-align: center;
}
.torrent-list-layer td.status {
    text-align: center;
}
.torrent-list-layer td.status div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.torrent-list-layer td.seeds_peers {
    text-align: center;
}
.torrent-list-layer td.time {
    text-align: center;
}
.torrent-list-layer {
    overflow: auto;
}
.torrent-list-layer {
    border-top: 1px #c0c0c0 solid;
    min-height: 300px;
}
.torrent-table-head {
    position: fixed;
    z-index: 2;
}
table thead th, tbody td {
    padding-left: 2px;
    padding-right: 2px;
}
table thead {
    text-align: center;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(208,208,208)),
        color-stop(0.92, rgb(247,247,247))
        );
}
.context-menu-item label {
    margin-left: -10px;
}
table.torrent-table-body thead {
    visibility: hidden;
}
table tr {
    height: 18px;
    cursor: default;
}
table tbody tr:hover {
    background-color: #3875d7;
    color: #fff;
}
table tbody tr.selected {
    background-color: #3875d7;
    color: #fff;
}
table thead tr th {
    border-right: 1px solid #c0c0c0;
}
table thead tr th:last-child  {
    border-right: 0px;
}
table thead tr th div {
    font-weight: normal;
}
table td.progress div.progress_b {
    width: 68px;
    height: 14px;
    float: left;
    display: block;
    border: 1px solid #c0c0c0;
    margin-right: 2px;
    background-color: #dbdbdb;
}
table td.progress div.progress_b_i {
    height: 14px;
    background-color: #3687ED;
    display: block;
    float: left;
    color: #ffffff;
    overflow: visible !important;
}
table td.progress div.progress_b_i div {
    position: relative;
    text-align: center;
    z-index: 1;
    width: 68px;
    height: 14px;
}
td.controls div.btns {
    height: 18px;
}
td.controls div.btns > a {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
}
td.controls div.btns > a:active {
    opacity: 0.7;
}
td.controls div.btns > a.start { background: url('/images/play.png') no-repeat center center; }
td.controls div.btns > a.pause { background: url('/images/pause.png') no-repeat center center; }
td.controls div.btns > a.stop { background: url('/images/stop.png') no-repeat center center; }
table.status-panel {
    border-top: 1px #c0c0c0 solid;
    padding-left: 2px;
}
table.status-panel td.status {
    width: 50%;
}
table.status-panel td.speed {
    width: 25%
}
.file-list.layer {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}
.file-list-layer {
    height: 260px;
    border-bottom: 1px #000 solid;
}
.file-list.body {
    display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    top: 0;
    left: 0;
    width: 600px;
    height: 300px;
    top: 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fl-table-body thead {
    visibility: hidden;
}
.file-list-layer .select {
    width: 19px;
}
.file-list-layer .select input { 
    margin-top: 2.5px; 
    margin-bottom: 2.5px; 
}
.file-list-layer .name {
    text-align: left; 
    text-overflow: ellipsis; 
    min-width: 270px; 
    max-width: 270px; 
}
.file-list-layer .size {
    text-align: right;
    width: 60px;
}
.file-list-layer .download {
    text-align: right; 
    width: 60px;
}
.file-list-layer .progress {
    text-align: center; 
    width: 70px;
}
.file-list-layer .priority {
    text-align: center;
    width: 74px; 
    text-overflow: ellipsis;
}